<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Components | Walker Art</title>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
  <link href="../assets/normalize.css" rel="stylesheet">
  <link rel="stylesheet" href="../assets/style.css">

  
</head>

<body>
    <h1>Web Components</h1>

    <h2>Typography Defaults</h2>

    <h3>Logo</h3>
      <img 
      scrset="img/atom-Walker-home-page-link.png 2x"
      src="img/atom-Walker-home-page-link.png"
      alt="Walker Logo"
      />
      <img
      srcset="../img/Walker_Art_Center_logo.svg 2x"
      src="../img/Walker_Art_Center_logo.svg">
    <h3>Body</h3>
      <p>This is body text to test that the font is working.</p>

    <h3>Search</h3>




</body>
</html>
