<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Components | Walker Art</title>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
  <link href="../assets/normalize.css" rel="stylesheet">
  <link rel="stylesheet" href="../assets/style.css">
  <script src="https://kit.fontawesome.com/6b48d08b1e.js" crossorigin="anonymous"></script>

  
</head>

<body>
  <h1>Web Components</h1>
    <h2 class="components">Typography Defaults</h2>

    <h2 class="components">Logo</h2>
      <img 
      scrset="img/atom-Walker-home-page-link.png 2x"
      src="img/atom-Walker-home-page-link.png"
      alt="Walker Logo"
      />
      <br>
      <img class="logo" src="../img/Walker_Art_Center_logo.svg" alt="Walker Logo">

<!-- BODY -->        
    <h2 class="components">Body</h2>
      <p>This is body text to test that the font is working.</p>

    <h2 class="components">Search</h2>
            <div class="search__container">
                <div class="search__icon"><a href="#!"><i class="fa-solid fa-magnifying-glass"></i></a></div>
                <a class="search" href="#!">Search</a>
            </div>
    </div>
    <h2 class="components">Side Nav Bar- Quick links</h2>   
    <div class="nav-bar__quick-links">
        <p class="nav-bar__quick-links--today">Open today until 5:00 pm</p>
        <p class="nav-bar__quick-links--regular">Get Tickets</p>
        <p class="nav-bar__quick-links--regular">Become a Member</p>
        <p class="nav-bar__quick-links--regular">Log in</p>
    </div>

    <h2 class="components">Side Nav Bar- About links</h2>
    <div class="nav-bar__about-links">
      <p class="nav-bar__about-links--regular">Visit</p>
      <p class="nav-bar__about-links--regular">Shop</p>
      <p class="nav-bar__about-links--regular">Calendar</p>
      <p class="nav-bar__about-links--regular">Walker Reader</p>
      <p class="nav-bar__about-links--regular">Art & Artists</p>
      <p class="nav-bar__about-links--regular">Support</p>

      <h2 class="components">Outlined Title</h2>
      <div class="title__outlined"><h2>More than a museum</h2></div>

      <h2 class="components">Side Nav Bar- Events links</h2>
      <div class="nav-bar__events-links">
        <p class="nav-bar__events-links--regular">Garden</p>
        <p class="nav-bar__events-links--regular">Galleries</p>
        <p class="nav-bar__events-links--regular">Cinema</p>
        <p class="nav-bar__events-links--regular">Stage</p>
        <p class="nav-bar__events-links--regular">Publishing</p>
        <p class="nav-bar__events-links--regular">Learning</p>
        <p class="nav-bar__events-links--regular">Design Studio</p>
        <p class="nav-bar__events-links--regular">Library & Archives</p>
        <p class="nav-bar__events-links--regular">Rentals</p>
    </div>    
  </div>



<!-- HERO SECTION -->  
<h2 class="components">Hero Section</h2>
  


  <div class="hero__container">
    <img src="../img/Art_Basel_Miami_Beach_Kandis_Williams_Night_Gallery_2-1.jpg" alt="Kandis Williams">
    <div class="hero__title">Exhibition</div>
    <div class="hero__title--name">Kandis Williams: A Surface</div>
    <div class="hero__title--learn">Learn More</div>

  </div>

  </div> <!-- hero__container -->



<!-- CAROUSEL -->
<h2 class="components">Carousel</h2>
  <div class="carousel__container">
      <div class="carousel__title-row">
          <div class="carousel__title"><h2>Exhibitions</h2></div><!-- carousel__title -->
              <div class="carousel__arrows--prev"><a href="#!"><i class="fa-solid fa-arrow-left"></i></a></div>
              <div class="carousel__arrows--next"><a href="#!"><i class="fa-solid fa-arrow-right"></i></a></div>
      </div> <!-- carousel__title-row  -->
  
    <div class=".carousel__selections-container">
      <div class="carousel__selection-row">
          <div class="carousel__selection">
              <img class="carousel__selection-img" src="../img/exhibition-title_button_kandis-williams.png">
              <div class="carousel__selection-caption"><a href="#!"><h2>Apr 24-Aug 24, 2025</h2></a></div>
          </div>  <!-- carousel__selection -->
          <div class="carousel__selection">
              <img class="carousel__selection-img" src="../img/exhibition-title_button_ways-of-knowing.png">
              <div class="carousel__selection-caption"><a href="#!"><h2>Mar 8-Sept 7, 2025</h2></a></div>
          </div>  <!-- carousel__selection -->
          <div class="carousel__selection">
              <img class="carousel__selection-img" src="../img/exhibition-title_button_sudden-places.png">
              <div class="carousel__selection-caption"><a href="#!"><h2>Mar 8-Sept 7, 2025</h2></a></div>
          </div>  <!-- carousel__selection -->
          <div class="carousel__selection">
              <img class="carousel__selection-img" src="../img/exhibition-title_button_banu.png">
              <div class="carousel__selection-caption"><a href="#!"><h2>Mar 8-Sept 7, 2025</h2></a></div>
          </div>  <!-- carousel__selection -->
          <div class="carousel__selection">
              <img class="carousel__selection-img" src="../img/exhibition-title_button_the-place.png">
              <div class="carousel__selection-caption"><a href="#!"><h2>Mar 8-Sept 7, 2025</h2></a></div>
          </div>  <!-- carousel__selection -->
      </div> <!-- carousel__selection-row -->
    </div><!-- carousel__selections-container-->
  </div><!-- carousel__container -->

 


</body>
</html>
