:root {
  --font-sans-serif: "Montserrat", sans-serif;
  --black: #000;
  --white: #fff;
  --gray-light: #e0e2e6;
}

.montserrat {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: normal;
  font-style: normal;
}

html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

body {
  font-family: var(--font-sans-serif);
}


h2 {
  font-size: 1em;
  font-weight: normal;
  padding: 0;
}

h3 {
  font-weight: lighter;
}

a {
  text-decoration: none;
  color: black;
}

/* homepage__container */

.homepage__container {
  width: 100%;
  margin: 20px 40px 0 20px;
  display: grid;
  grid-gap: 20px;
  grid-template-columns: 220px 600px 1fr;
  grid-template-rows: 250px 250px 300px;
  grid-auto-rows: 190px;
}

.logo {
  max-width: 200px;
  height:auto;
}

/* components */

.components {
  width: 100%;
  background-color: var(--gray-light);
}

/* nav-bar */

.nav-bar__container {
  background-color: var(--white);
  grid-row: 1 / -1;
  position: fixed;
  top: 0;
  padding: 0;
  margin: 0;
}

.logo {
  width: 220px;
  padding: 20px 20px 20px 20px;
  margin-left: 0;
  margin-top: 0;
  border-bottom: 1px solid black;
}

.nav-bar__quick-links {
  text-align: center;
  text-transform: uppercase;
  font-size: .75rem;
  font-weight: 400;
  line-height: .75rem;
  border-bottom: 1px solid black;
  margin: 0;
}


.nav-bar__quick-links--regular {
  padding-bottom: 2px;
  text-decoration: underline;
}

.search__container {
  width: 100%;
  display: flex;  
  padding: 10px 100px 12px 2px;
  margin: 10px 0 20px 0;
  border-bottom: 1px solid black;
}

.search {
  text-transform: uppercase;
  font-size: .75rem;
  font-weight: bold;
  padding-left: 10px;
}

.search__icon {
  padding-left: 0;
}

.nav-bar__about-links {
  text-transform: uppercase;
  font-size: .75rem;
  font-weight: 400;
  line-height: 1rem;
  padding-bottom: 10px;
  border-bottom: 1px solid black;
  margin-bottom: 0;
}

.title__outlined {
  text-transform: uppercase;
  text-align: center;
  font-size: .75rem;
  font-weight: 400;
  line-height: 1rem;
  border: 1px solid black;
  width:max-content;
  padding: 0 5px;
  margin-top: 10px;
}

.nav-bar__events-links {
  text-transform: uppercase;
  font-size: .75rem;
  font-weight: 400;
  line-height: 1rem;
  padding-bottom: 10px;
  border-bottom: 1px solid black;
  margin-bottom: 0;
}

.more__container {
  width: 100%;
  display: flex;  
  padding: 10px 100px 12px 2px;
  margin: 10px 0 20px 0;
  border-bottom: 1px solid black;
}

.more {
  text-transform: uppercase;
  font-size: .75rem;
  font-weight: bold;
  padding-left: 10px;
}

/* hero section*/

.hero__container {
  background-color:  var(--white);
  grid-column-start: 2;
  grid-row: span 3;
  width: 100%;
  height: auto;
  position: relative;
  text-align: center;
}

.hero__title {
  text-align: center;
  font-size: .75em;
  text-transform: uppercase;
  text-decoration: none;
  padding-bottom: 10px;
  font-weight: normal;
  position: absolute;
  top: 5%;
  left: 50%;
  transform: translate(-50%, -50%);
  }

  .hero__title--name {
    text-align: center;
    font-size: 1.5em;
    font-weight: bold;
    position: absolute;
    font-style: italic;
    top: 10%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-top: 1px solid black;
    padding-top: 15px;
  }

  .hero__title--learn {
    text-align: center;
    font-size: 1em;
    font-weight: normal;
    position: absolute;
    top: 92%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

/* free-first thursday */

  .free-thursday__container {
    grid-column-start: 3;
    grid-row: span 2;
    max-width: 600px;
    border-bottom: 6px solid var(--gray-light);
  }

  .free-thursday__image {
    object-fit: cover;
  }

  .free-thursday__title-row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .title__date {
    text-transform: uppercase;
    text-align: right;
    font-size: .75rem;
    font-weight: 400;
    line-height: 1rem;
    padding: 0 5px;
    margin-top: 10px;
  }

  .free-thursday__title--name {
    text-align: center;
    font-size: 1rem;
    font-weight: 500;
    line-height: 1rem;
    padding: 0 5px;
    margin-top: 10px;
  }

  .free-thursday__title--details {
    text-transform: uppercase;
    text-align: center;
    text-decoration: underline;
    font-size: .75rem;
    font-weight: 400;
    line-height: 1rem;
    padding: 0;
    margin-top: 10px;
  }



/* carousel */
.carousel__container {
  grid-column-start: 3;
  grid-row: span 1;
  max-width: 600px;
  display: grid;
  grid-template-rows: 40px 210px;
  border-bottom: 6px solid var(--gray-light);
}

/* carousel__title-row */
.carousel__title-row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.carousel__title {
  text-transform: uppercase;
  text-align: center;
  font-size: .75em;
  padding: 0px 5px;
  width:max-content;
  border: 1px solid black;
}

.carousel__arrows--container {
  justify-content: right;
}

.fa-arrow-left {
  color: var(--gray);
  padding: 15px 10px 0 10px;
}

.fa-arrow-right {
  color: var(--black);
  padding: 15px 10px 0 10px;
  justify-content: right;
}

/* carousel__selections-container */
.carousel__selections-container {
  grid-row: 2;
  grid-column: span 2;
}

.carousel__selection-row {
  margin: 0 100px;
  border-bottom: 1px solid var(--gray-light);
  padding-bottom: 100px;
  margin-left: 0;
  padding-left: 0;
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
  justify-content: flex-start;
  justify-content: space-between;
}

.carousel__selection {
  align-items: center;
  padding: 0;
}

.carousel__selection-caption {
  text-transform: uppercase;
  text-decoration: none;
  font-size: .75em;
  font-weight: lighter;
  border: none;
  color: var(--gray);
  text-align: center;
}

.carousel__selection-img {
  width: 290px;
  max-height: auto;
  margin-right: 10px;
  margin-top: 10px;
}


/* placeholders */

.amenities__container {
  grid-column-start: 2;
  grid-column-end: 4;
  grid-row: span 3;
  display: flex;
  border-bottom: 6px solid var(--gray-light);
  max-width: 1200px;
}

.sculpture-garden__container {
  margin-right: 20px;
}

.shop__container {
 
}

.amenities__image {
  max-width: 600px;
}

.amenities__summary {
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5rem;
}

.amenities__title {
  text-align: center;
  font-size: 1.25rem;
  font-weight: 500;
}

.amenities__title--details {
  text-transform: uppercase;
  text-align: center;
  text-decoration: underline;
  font-size: .75rem;
  font-weight: 400;
  line-height: 1rem;
  padding: 0;
  margin-top: 10px;
}

/* footer */

.footer__container {
  grid-column-start: 2;
  grid-column-end: 3;
}

.footer__nav-bar-1 {
  display: flex;
  justify-content: space-between;
  padding-right: 120px;
  padding-bottom: 20px;
  border-bottom: 1px solid black;
}

.footer__nav-bar-1--links {
  text-transform: uppercase;
  font-size: .75rem;
  font-weight: 400;
  line-height: 1rem;
  margin-bottom: 0;
}

.footer__legal {
  display: flex;
  justify-content: space-between;
  padding-right: 220px;
}

.footer__container-2 {
  grid-column-start: 3;
  grid-column-end: 4;
}

.footer__icon {
  padding-top: 10px;
}

.footer__social-media {
  display: flex;
  justify-content: space-between;
  padding-right: 400px;
}

